@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Arsenal';
    src: url('../fonts/Arsenal-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arsenal';
    src: url('../fonts/Arsenal-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BacasimeAntique';
    src: url('../fonts/BacasimeAntique-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root{
    --bg-color-default: #FFFFFF;
    --bg-color-bold: #52026A;
    --bg-color-bold-hover: #750275;
    --bg-color-bold-active: #9b77ae;

    --btn-color-normal: #52026A;
    --btn-color-normal-hover: #750275;
    --btn-color-normal-active: #9b77ae;

    --btn-color-bad: #ca4040;
    --btn-color-bad-hover: #e64e4e;
    --btn-color-bad-active: #ee6060;
}

#app{
    width: 100svw;
    height: 100svh;
    display: flex;
    flex-direction: column;
}

.transition-bg{
    transition: background-color .1s ease-out;
}

*{
    font-family: 'Arsenal', 'Arial', sans-serif;
}

.btn{
    @apply flex flex-row justify-center items-center text-center;
    background-color: var(--btn-color-normal);
    transition: background-color 150ms ease-out;
}

.btn-badd{
    @apply flex flex-row justify-center items-center text-center;
    background-color: #A9A6A6;
    transition: background-color 150ms ease-out;
}

.btn:hover{
    background-color: var(--btn-color-normal-hover);
}
.btn:active{
    background-color: var(--btn-color-normal-active);
}

.login-bg {
    background-image: url('../images/background-loginEventPage.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 50vw;
}

.logo-hr {
    @apply text-3xl mb:text-4xl md:text-5xl cursor-pointer;
    color: #52026A;
    font-family: 'BacasimeAntique';
    text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
}
.toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin: 20px;
    width: 100%;
}
.toggle {
    display: flex;
    border: 1px solid #e6e6e6;
    background-color: #f6f5f7;
    border-radius: 12px;
    overflow: hidden;
    width: 80%;
    height: 40px;
}
.toggle-btn {
    flex: 1;
    text-align: center;
    font-size: 16px;
    color: #333;
    background-color: transparent;
    border: none;
    outline: none;
    transition: all 0.3s ease;
    padding: 8px 16px;
    cursor: pointer;
}
.toggle-btn.active {
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}
.auth-description{
    @apply text-xl mb:text-2xl text-center mb-8;
}
.progress-bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.progress-step {
    width: 30%;
    height: 5px;
    background-color: #e5e5e5;
    transition: background-color 0.3s;
}

.progress-step.active {
    background-color: var(--btn-color-normal);
}

.sml-btn{
    @apply flex justify-center items-center px-3 mb:px-4 text-xs mb:text-base uus:text-base border-2 border-ev-color rounded-lg cursor-pointer transition-bg hover:bg-red-100 active:bg-red-300;
}

.border-ev-color{
    border-color: #6a0793;
}

.scrollable{
    --scroll-bar-width: 8px;
    --border-radius-scroll-bar: 2px; /*calc(var(--scroll-bar-width) / 2);*/
    --bg-color-0: var(--bg-color-bold); /*slider color*/
    --bg-color-1: #c4d3e2; /*track color*/
    overflow-y: scroll;
    scrollbar-width:var(--scroll-bar-width);
}
.scrollable::-webkit-scrollbar{
    width: var(--scroll-bar-width);
}
.scrollable::-moz-scrollbar {
    width: var(--scroll-bar-width);
}
.scrollable::-webkit-scrollbar-track{
    background-color: var(--bg-color-1);
    border-radius: var(--border-radius-scroll-bar);
    transition: background-color 1s ease-in-out;
}
.scrollable::-moz-scrollbar-track {
    background-color: var(--bg-color-1);
    border-radius: var(--border-radius-scroll-bar);
    transition: background-color 1s ease-in-out;
}
.scrollable::-webkit-scrollbar-thumb{
    background-color: transparent;
    border-radius: var(--border-radius-scroll-bar);
    transition: background-color 1s ease-in-out;
}
.scrollable::-moz-scrollbar-thumb {
    background-color: transparent;
    border-radius: var(--border-radius-scroll-bar);
    transition: background-color 1s ease-in-out;
}
.scrollable:hover::-webkit-scrollbar-thumb{
    background-color: var(--bg-color-0);
}
.scrollable:hover::-moz-scrollbar-thumb {
    background-color: var(--bg-color-0);
}
.scrollable:hover::-webkit-scrollbar-track{
    background-color: var(--bg-color-1);
}
.scrollable:hover::-moz-scrollbar-track {
    background-color: var(--bg-color-1);
}

.scrollable-table{
    @apply scrollable;
    overflow-y: auto;
    overflow-x: scroll;
}
.scrollable-table::-webkit-scrollbar{
    width: auto;
    height: 8px;
}
.scrollable-table::-moz-scrollbar {
    width: auto;
    height: 8px;
}

@keyframes timeLine{
    from{
      width: 100%;
    }
    to{
      width: 0px;
    }
  }